@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'px_sans_nouveaux';
	src: url('/fonts/px_sans_nouveaux.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'px_sans_nouveaux', sans-serif;
	font-weight: 400;
	font-style: normal;

	overflow: hidden;
	padding: 0;
	margin: 0;
}

*:focus-visible {
	outline: none; /* Remove the default outline */
	box-shadow: none; /* Remove any box-shadow if used */
}

span {
	font-family: 'px_sans_nouveaux', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.vignette {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('/images/vignette.png');
	background-size: 100% 100%;
	mix-blend-mode: overlay;
	pointer-events: none;
	opacity: 1;
}

.centerControllerWrapper:hover > button {
	transform: scale(1) !important;
}

.shadow-tooltip {
	background-color: rgba(0, 0, 0, 1);
	box-shadow: 0 0 11px 5px black;
	outline: 0;
}
